In [17]:
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import  PorterStemmer
import matplotlib.pyplot as plt
import math
import numpy as np

In [18]:
data = pd.read_csv('spam.csv', encoding="latin1")

data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [19]:
#Renaming columns and labeling data with 0's and 1's
data = data[['v1', 'v2']]

data = data.rename(columns={'v1':'label', 'v2':'message'})

data['label'].replace('ham', 0, inplace=True)
data['label'].replace('spam', 1, inplace=True)

data

C:\Users\crdie\AppData\Local\Temp\ipykernel_14396\435384640.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['label'].replace('ham', 0, inplace=True)
C:\Users\crdie\AppData\Local\Temp\ipykernel_14396\435384640.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['label'].replace('spam', 1, inplace=True)
C:\Users\crdie\AppData\Local\Temp\ipykernel_14396\435384640.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['label'].replace('spam', 1, inplace=True)

      label                                            message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      1  This is the 2nd time we have tried 2 contact u...
5568      0              Will Ì_ b going to esplanade fr home?
5569      0  Pity, * was in mood for that. So...any other s...
5570      0  The guy did some bitching but I acted like i'd...
5571      0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [20]:
#Processing messages

#Making data lowercase
data['message'] = data['message'].str.lower()

In [24]:
#Stemming the messages and removing stopwords
stemmer = PorterStemmer()

sw = stopwords.words('english')

def stem_text(msg):
    if pd.isna(msg):
        return None
    
    tokens = word_tokenize(msg)

    stemmed_tokens = [stemmer.stem(word) for word in tokens if word not in sw]

    return " ".join(stemmed_tokens)

In [25]:
data['message'] = data['message'].apply(stem_text)

data

      label                                            message
0         0  go jurong point , crazi .. avail onli bugi n g...
1         0                      ok lar ... joke wif u oni ...
2         1  free entri 2 wkli comp win fa cup final tkt 21...
3         0        u dun say earli hor ... u c alreadi say ...
4         0         nah n't think goe usf , live around though
...     ...                                                ...
5567      1  thi 2nd time tri 2 contact u. u å£750 pound pr...
5568      0                         ì_ b go esplanad fr home ?
5569      0               piti , * wa mood . ... ani suggest ?
5570      0  guy bitch act like 'd interest buy someth el n...
5571      0                                   rofl . true name

[5572 rows x 2 columns]